WEATHER PREDICTION

In [101]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report,accuracy_score

LOAD DATASET

In [102]:
df=pd.read_csv("D:\Data Science With Python\dataset\Weather Test Data (1).csv")

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\dines\AppData\Local\Temp\ipykernel_15348\1706280281.py:1: SyntaxWarning: invalid escape sequence '\D'
  df=pd.read_csv("D:\Data Science With Python\dataset\Weather Test Data (1).csv")

FEATURE ENGINEERING

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42677 entries, 0 to 42676
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row ID         42677 non-null  object
 1   Location       42677 non-null  object
 2   MinTemp        42483 non-null  float64
 3   MaxTemp        42585 non-null  float64
 4   Rainfall       42250 non-null  float64
 5   Evaporation    24365 non-null  float64
 6   Sunshine       22178 non-null  float64
 7   WindGustDir    39868 non-null  object
 8   WindGustSpeed  39887 non-null  float64
 9   WindDir9am     39670 non-null  object
 10  WindDir3pm     41547 non-null  object
 11  WindSpeed9am   42264 non-null  float64
 12  WindSpeed3pm   41882 non-null  float64
 13  Humidity9am    42136 non-null  float64
 14  Humidity3pm    41573 non-null  float64
 15  Pressure9am    38411 non-null  float64
 16  Pressure3pm    38432 non-null  float64
 17  Cloud9am       26592 non-null  float64
 18  Cloud3pm       25585 non-null  float64
 19  Temp9am        42387 non-null  float64
 20  Temp3pm        41855 non-null  float64
 21  RainToday      42250 non-null  object
dtypes: float64(16), object(6)
memory usage: 7.2+ MB

In [104]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,42483.000000,42585.000000,42250.000000,24365.000000,22178.000000,39887.000000,42264.000000,41882.000000,42136.000000,41573.000000,38411.000000,38432.000000,26592.000000,25585.000000,42387.000000,41855.000000
mean,12.210032,23.246068,2.342862,5.489715,7.647831,40.001379,13.995315,18.607516,68.791176,51.597672,1017.581591,1015.192792,4.412041,4.466054,17.028266,21.700982
std,6.432122,7.123596,8.412106,4.248850,3.778019,13.605915,8.872445,8.806916,18.996115,20.844525,7.094070,7.016408,2.887927,2.729640,6.501771,6.951426
min,-8.200000,-4.800000,0.000000,0.000000,0.000000,7.000000,0.000000,0.000000,1.000000,1.000000,982.200000,977.100000,0.000000,0.000000,-7.200000,-5.400000
25%,7.600000,18.000000,0.000000,2.600000,4.900000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000
50%,12.000000,22.600000,0.000000,4.800000,8.500000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.800000,21.100000
75%,16.900000,28.300000,0.600000,7.400000,10.700000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.500000
max,31.800000,47.000000,278.400000,145.000000,14.300000,122.000000,74.000000,83.000000,100.000000,100.000000,1040.400000,1038.900000,8.000000,8.000000,39.400000,45.400000

In [105]:
df.isnull().sum()

row ID               0
Location             0
MinTemp            194
MaxTemp             92
Rainfall           427
Evaporation      18312
Sunshine         20499
WindGustDir       2809
WindGustSpeed     2790
WindDir9am        3007
WindDir3pm        1130
WindSpeed9am       413
WindSpeed3pm       795
Humidity9am        541
Humidity3pm       1104
Pressure9am       4266
Pressure3pm       4245
Cloud9am         16085
Cloud3pm         17092
Temp9am            290
Temp3pm            822
RainToday          427
dtype: int64

In [106]:
df.isnull().sum().sum()

np.int64(95340)

In [107]:
df.duplicated().sum()

np.int64(0)

In [108]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42677 entries, 0 to 42676
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row ID         42677 non-null  object
 1   Location       42677 non-null  object
 2   MinTemp        42483 non-null  float64
 3   MaxTemp        42585 non-null  float64
 4   Rainfall       42250 non-null  float64
 5   Evaporation    24365 non-null  float64
 6   Sunshine       22178 non-null  float64
 7   WindGustDir    39868 non-null  object
 8   WindGustSpeed  39887 non-null  float64
 9   WindDir9am     39670 non-null  object
 10  WindDir3pm     41547 non-null  object
 11  WindSpeed9am   42264 non-null  float64
 12  WindSpeed3pm   41882 non-null  float64
 13  Humidity9am    42136 non-null  float64
 14  Humidity3pm    41573 non-null  float64
 15  Pressure9am    38411 non-null  float64
 16  Pressure3pm    38432 non-null  float64
 17  Cloud9am       26592 non-null  float64
 18  Cloud3pm       25585 non-null  float64
 19  Temp9am        42387 non-null  float64
 20  Temp3pm        41855 non-null  float64
 21  RainToday      42250 non-null  object
dtypes: float64(16), object(6)
memory usage: 7.2+ MB

In [110]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['row ID']=le.fit_transform(df['row ID'])
df['Location']=le.fit_transform(df['Location'])
df['WindGustDir']=le.fit_transform(df['WindGustDir'])
df['WindDir9am']=le.fit_transform(df['WindDir9am'])
df['WindDir3pm']=le.fit_transform(df['WindDir3pm'])
df['RainToday']=le.fit_transform(df['RainToday'])
df

,row ID,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,0,2,12.9,25.7,0.0,NaN,NaN,15,46.0,13,...,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,0
1,1,2,9.2,28.0,0.0,NaN,NaN,4,24.0,9,...,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,0
2,10859,2,14.3,25.0,0.0,NaN,NaN,13,50.0,12,...,24.0,49.0,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,0
3,21632,2,9.7,31.9,0.0,NaN,NaN,6,80.0,9,...,28.0,42.0,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,0
4,32544,2,15.9,18.6,15.6,NaN,NaN,13,61.0,6,...,28.0,76.0,93.0,994.3,993.0,8.0,8.0,17.4,15.8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42672,36506,41,2.4,19.1,0.0,NaN,NaN,0,33.0,9,...,17.0,59.0,24.0,1030.0,1026.2,NaN,NaN,8.0,18.8,0
42673,36507,41,2.3,21.4,0.0,NaN,NaN,9,22.0,9,...,7.0,60.0,28.0,1026.9,1022.8,NaN,NaN,8.9,20.3,0
42674,36508,41,2.6,22.5,0.0,NaN,NaN,8,19.0,8,...,7.0,59.0,24.0,1025.0,1021.4,NaN,NaN,8.8,22.1,0
42675,36509,41,7.4,20.6,0.0,NaN,NaN,0,35.0,2,...,17.0,63.0,33.0,1027.2,1023.3,NaN,NaN,11.0,20.3,0
42676,36510,41,7.8,27.0,0.0,NaN,NaN,9,28.0,10,...,7.0,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,0

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42677 entries, 0 to 42676
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row ID         42677 non-null  int64
 1   Location       42677 non-null  int64
 2   MinTemp        42483 non-null  float64
 3   MaxTemp        42585 non-null  float64
 4   Rainfall       42250 non-null  float64
 5   Evaporation    24365 non-null  float64
 6   Sunshine       22178 non-null  float64
 7   WindGustDir    42677 non-null  int64
 8   WindGustSpeed  39887 non-null  float64
 9   WindDir9am     42677 non-null  int64
 10  WindDir3pm     42677 non-null  int64
 11  WindSpeed9am   42264 non-null  float64
 12  WindSpeed3pm   41882 non-null  float64
 13  Humidity9am    42136 non-null  float64
 14  Humidity3pm    41573 non-null  float64
 15  Pressure9am    38411 non-null  float64
 16  Pressure3pm    38432 non-null  float64
 17  Cloud9am       26592 non-null  float64
 18  Cloud3pm       25585 non-null  float64
 19  Temp9am        42387 non-null  float64
 20  Temp3pm        41855 non-null  float64
 21  RainToday      42677 non-null  int64
dtypes: float64(16), int64(6)
memory usage: 7.2 MB

In [112]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [113]:
df.describe()

,row ID,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
count,42677.000000,42677.000000,42483.000000,42585.000000,42250.000000,24365.000000,22178.000000,42677.000000,39887.000000,42677.000000,...,41882.000000,42136.000000,41573.000000,38411.000000,38432.000000,26592.000000,25585.000000,42387.000000,41855.000000,42677.000000
mean,21338.000000,23.718045,12.210032,23.246068,2.342862,5.489715,7.647831,8.255383,40.001379,7.931485,...,18.607516,68.791176,51.597672,1017.581591,1015.192792,4.412041,4.466054,17.028266,21.700982,0.240247
std,12319.933056,14.263988,6.432122,7.123596,8.412106,4.248850,3.778019,4.961686,13.605915,4.905427,...,8.806916,18.996115,20.844525,7.094070,7.016408,2.887927,2.729640,6.501771,6.951426,0.450048
min,0.000000,0.000000,-8.200000,-4.800000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000,...,0.000000,1.000000,1.000000,982.200000,977.100000,0.000000,0.000000,-7.200000,-5.400000,0.000000
25%,10669.000000,11.000000,7.600000,18.000000,0.000000,2.600000,4.900000,4.000000,31.000000,4.000000,...,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000,0.000000
50%,21338.000000,24.000000,12.000000,22.600000,0.000000,4.800000,8.500000,9.000000,39.000000,8.000000,...,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.800000,21.100000,0.000000
75%,32007.000000,36.000000,16.900000,28.300000,0.600000,7.400000,10.700000,13.000000,48.000000,12.000000,...,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.500000,0.000000
max,42676.000000,48.000000,31.800000,47.000000,278.400000,145.000000,14.300000,16.000000,122.000000,16.000000,...,83.000000,100.000000,100.000000,1040.400000,1038.900000,8.000000,8.000000,39.400000,45.400000,2.000000

In [114]:
df.isnull().sum()
df.head(8)

,row ID,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,0,2,12.9,25.7,0.0,NaN,NaN,15,46.0,13,...,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,0
1,1,2,9.2,28.0,0.0,NaN,NaN,4,24.0,9,...,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,0
2,10859,2,14.3,25.0,0.0,NaN,NaN,13,50.0,12,...,24.0,49.0,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,0
3,21632,2,9.7,31.9,0.0,NaN,NaN,6,80.0,9,...,28.0,42.0,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,0
4,32544,2,15.9,18.6,15.6,NaN,NaN,13,61.0,6,...,28.0,76.0,93.0,994.3,993.0,8.0,8.0,17.4,15.8,1
5,38293,2,11.5,29.3,0.0,NaN,NaN,8,24.0,9,...,9.0,56.0,28.0,1019.3,1014.8,NaN,NaN,19.1,27.3,0
6,39400,2,16.2,33.9,0.0,NaN,NaN,15,35.0,9,...,13.0,45.0,19.0,1010.9,1007.6,NaN,1.0,23.2,33.0,0
7,40479,2,12.0,24.4,0.8,NaN,NaN,13,39.0,14,...,17.0,48.0,28.0,1006.1,1005.1,1.0,NaN,16.9,22.7,0

In [115]:
df['WindGustSpeed']=df['WindGustSpeed'].fillna(df['WindGustSpeed'].median())
df['WindSpeed9am']=df['WindSpeed9am'].fillna(df['WindSpeed9am'].median())
df['WindSpeed3pm']=df['WindSpeed3pm'].fillna(df['WindSpeed3pm'].median())
df['Humidity9am']=df['Humidity9am'].fillna(df['Humidity9am'].median())
df['Humidity3pm']=df['Humidity3pm'].fillna(df['Humidity3pm'].median())
df['Pressure9am']=df['Pressure9am'].fillna(df['Pressure9am'].median())
df['Pressure3pm']=df['Pressure3pm'].fillna(df['Pressure3pm'].median())
df['Cloud9am']=df['Cloud9am'].fillna(df['Cloud9am'].median())
df['Cloud3pm']=df['Cloud3pm'].fillna(df['Cloud3pm'].median())
df['Temp9am']=df['Temp9am'].fillna(df['Temp9am'].median())
df['Temp3pm']=df['Temp3pm'].fillna(df['Temp3pm'].median())
df['RainToday']=df['RainToday'].fillna(df['RainToday'].median())
df.isnull().sum()
df.isnull().sum()

row ID               0
Location             0
MinTemp            194
MaxTemp             92
Rainfall           427
Evaporation      18312
Sunshine         20499
WindGustDir          0
WindGustSpeed        0
WindDir9am           0
WindDir3pm           0
WindSpeed9am         0
WindSpeed3pm         0
Humidity9am          0
Humidity3pm          0
Pressure9am          0
Pressure3pm          0
Cloud9am             0
Cloud3pm             0
Temp9am              0
Temp3pm              0
RainToday            0
dtype: int64

In [116]:
df.head(8)

,row ID,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,0,2,12.9,25.7,0.0,NaN,NaN,15,46.0,13,...,26.0,38.0,30.0,1007.6,1008.7,5.0,2.0,21.0,23.2,0
1,1,2,9.2,28.0,0.0,NaN,NaN,4,24.0,9,...,9.0,45.0,16.0,1017.6,1012.8,5.0,5.0,18.1,26.5,0
2,10859,2,14.3,25.0,0.0,NaN,NaN,13,50.0,12,...,24.0,49.0,19.0,1009.6,1008.2,1.0,5.0,18.1,24.6,0
3,21632,2,9.7,31.9,0.0,NaN,NaN,6,80.0,9,...,28.0,42.0,9.0,1008.9,1003.6,5.0,5.0,18.3,30.2,0
4,32544,2,15.9,18.6,15.6,NaN,NaN,13,61.0,6,...,28.0,76.0,93.0,994.3,993.0,8.0,8.0,17.4,15.8,1
5,38293,2,11.5,29.3,0.0,NaN,NaN,8,24.0,9,...,9.0,56.0,28.0,1019.3,1014.8,5.0,5.0,19.1,27.3,0
6,39400,2,16.2,33.9,0.0,NaN,NaN,15,35.0,9,...,13.0,45.0,19.0,1010.9,1007.6,5.0,1.0,23.2,33.0,0
7,40479,2,12.0,24.4,0.8,NaN,NaN,13,39.0,14,...,17.0,48.0,28.0,1006.1,1005.1,1.0,5.0,16.9,22.7,0

In [117]:
df.dropna(inplace=True)
df.isnull().sum()

row ID           0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
dtype: int64

In [118]:
import numpy as np
df.replace('78',np.nan,inplace=True)
df.dropna(inplace=True)

In [119]:
x=df.drop(['RainToday','Location'],axis=1)
y=df['RainToday']
x

,row ID,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
1756,8497,18.4,28.9,0.0,14.8,13.0,8,37.0,10,10,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0
1757,8508,19.4,37.6,0.0,10.8,10.6,5,46.0,5,6,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9
1758,8519,21.9,38.4,0.0,11.4,12.2,14,31.0,14,15,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6
1759,8531,24.2,41.0,0.0,11.2,8.4,14,35.0,7,14,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6
1760,8542,19.7,35.5,0.0,11.0,12.7,4,41.0,5,15,15.0,17.0,61.0,14.0,1007.9,1005.8,1.0,5.0,24.0,33.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41697,35436,17.2,29.1,0.0,7.2,10.1,2,44.0,2,0,15.0,20.0,41.0,21.0,1017.6,1014.1,1.0,2.0,20.9,28.5
41698,35437,18.3,29.8,0.0,8.4,10.5,2,41.0,2,0,19.0,13.0,43.0,24.0,1016.7,1013.1,3.0,2.0,21.9,29.4
41699,35438,16.9,30.3,0.0,5.4,10.9,0,33.0,2,7,11.0,17.0,41.0,43.0,1016.6,1012.9,1.0,0.0,21.8,28.7
41700,35439,20.2,32.1,0.0,4.8,9.9,0,31.0,9,9,11.0,11.0,51.0,35.0,1014.5,1011.4,1.0,3.0,23.9,31.2
41701,35441,19.5,31.8,0.0,6.2,10.6,2,26.0,9,6,9.0,17.0,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2

In [120]:
y

1756     0
1757     0
1758     0
1759     0
1760     0
        ..
41697    0
41698    0
41699    0
41700    0
41701    0
Name: RainToday, Length: 20912, dtype: int64

In [121]:
from sklearn.model_selection import train_test_split

In [122]:
df.shape

(20912, 22)

USING MINMAX SCALER FOR NORMALISATION

In [123]:
from sklearn.preprocessing import MinMaxScaler  
mm=MinMaxScaler()
x=mm.fit_transform(x)
x

array([[0.19901104, 0.64643799, 0.58628842, ..., 0.125     , 0.52369077,
        0.558753  ],
       [0.19926882, 0.67282322, 0.79196217, ..., 0.75      , 0.73316708,
        0.74820144],
       [0.19952661, 0.73878628, 0.8108747 , ..., 0.625     , 0.74314214,
        0.76498801],
       ...,
       [0.8303766 , 0.60686016, 0.61938534, ..., 0.        , 0.56109726,
        0.59952038],
       [0.83040004, 0.6939314 , 0.66193853, ..., 0.375     , 0.61346633,
        0.65947242],
       [0.83044691, 0.67546174, 0.65484634, ..., 0.125     , 0.63591022,
        0.61151079]], shape=(20912, 20))

In [124]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)                            #this is for train (minimaxscaler)
y_pred=model.predict(x_test)
print(y_pred)
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
print(accuracy_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))

[0 1 0 ... 0 0 1]
0.8876404494382022
              precision    recall  f1-score   support

           0       0.89      0.98      0.93      3291
           1       0.89      0.54      0.67       892

    accuracy                           0.89      4183
   macro avg       0.89      0.76      0.80      4183
weighted avg       0.89      0.89      0.88      4183

[[3228   63]
 [ 407  485]]

In [125]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_test,y_test)
y_pred=model.predict(x_test)                               #this is for test (minimaxscaler)
print(y_pred)
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
print(confusion_matrix(y_test,y_pred))
print(accuracy_score(y_test,y_pred))
print(classification_report(y_test,y_pred))

[0 1 0 ... 0 0 1]
[[3197   94]
 [ 481  411]]
0.8625388477169496
              precision    recall  f1-score   support

           0       0.87      0.97      0.92      3291
           1       0.81      0.46      0.59       892

    accuracy                           0.86      4183
   macro avg       0.84      0.72      0.75      4183
weighted avg       0.86      0.86      0.85      4183

IT IS A GENERALISED FIT